@media screen and (min-width: 0px) and (max-width: 375px){

    header{
        padding: 0;
        gap: 5%;
    }
    

    .language-switch{
        gap: 2px;
    }


    header ul{
        font-size: 80%;
        gap:10%; 
        padding-left: 5%;
    }
    .names{
        font-size: 80%;
    }

    .banner.active {
        flex-direction: column;
    }

    .oneBanner{
        font-size: 100%;
    }

    .sun{
        width: 110px;
        height: 110px;
        font-size: 250%;

    }
    .ray{
        width:80px;
        height:80px;
        font-weight: 100;
    }
    .contacts img{
        width: 25px;
        height: 25px;
    }
    .contacts{
        gap: 5%;
        justify-content:flex-start;
        padding-left: 20%;
    }
    .contacts a{
        font-size: 100%;
    }
    .footer{
        font-size: 70%;
    }
}